extends layout

block content
  canvas

  div.controls
    button#start Start
    button#stop Stop
    button#show-scores Scores
    button#clear Clear
    p
      span#balls-count 0

    div#popup-overlay
      div#popup-container
        div#popup
        div#popup-close X

  script(type="module" src="main.mjs")