extends layout

block content
  canvas

  div.controls
    button#start Start
    button#stop Stop
    button#show-scores Scores
    button#clear Clear
    p
      span#balls-count 0

    div#popup-overlay
      div#popup-container
        div#popup
          h2 Scores
          table#score-table
            thead
              tr
                th 
                  strong Joueur
                th 
                  strong Score
            tbody#score-tableBody
        div#popup-close X

  script(type="module" src="main.mjs")